[package]
name = "cw-utils"
version = "1.0.0"
authors = ["Ethan Frey <ethanfrey@users.noreply.github.com>"]
edition = "2021"
description = "Common helpers for other cw specs"
license = "Apache-2.0"
repository = "https://github.com/CosmWasm/cw-utils"
homepage = "https://cosmwasm.com"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-schema = "1.0.0"
cosmwasm-std = "1.0.0"
cw2 = "0.16"
schemars = "0.8.1"
semver = "1"
serde = { version = "1.0.0", default-features = false, features = ["derive"] }
thiserror = "1.0.13"

# We don't use the following dependencies directly. They're dependencies of our dependencies.
# We specify them to tighten their version requirements so that builds with `-Zminimal-versions` work.
# Once we bump `cosmwasm-*` deps to a version after `1.1.5`, we can remove these.
k256 = { version = "0.11.1", features = ["ecdsa"] }
anyhow = "1.0.41"

[dev-dependencies]
cw-storage-plus = "0.16"
prost = "0.9"

# We don't use the following dependencies directly. They're dependencies of our dependencies.
# We specify them to tighten their version requirements so that builds with `-Zminimal-versions` work.
# Once we bump `cosmwasm-*` deps to a version after `1.1.5`, we can remove these.
serde_json = "1.0.40"
